# Dependencies
/node_modules
node_modules/
API/node_modules/
client/node_modules/

# Environment variables
.env
API/.env

# Uploads
API/uploads/

# Build output
client/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional files
.DS_Store
Thumbs.db 