@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"], input[type="password"],
input[type="email"], input[type="number"], input[type="tel"]{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
button{
    @apply bg-gray-300;
}
button.primary{
    background-color: #F5385D;
    @apply bg-primary p-2 w-full text-white rounded-2xl;
}
textarea{
    @apply w-full border my-1 py-2 px-3 rounded-2xl min-h-[100px];
}
textarea{
    height: 140px;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}